[submodule "Project-JARVIS"]
	path = Project-JARVIS
	url = git@github.com:YakupAtahanov/Project-JARVIS.git
	branch = linux-integration-preparation
[submodule "linux"]
	path = linux
	url = git@github.com:majdaltouzach/linux.git
[submodule "dmcp"]
	path = dmcp
	url = git@github.com:YakupAtahanov/dmcp.git
