[submodule "Project-JARVIS"]
	path = Project-JARVIS
	url = git@github.com:YakupAtahanov/Project-JARVIS.git
	branch = linux-integration-preparation
[submodule "dmcp"]
	path = dmcp
	url = git@github.com:YakupAtahanov/dmcp.git
[submodule "dispatch"]
	path = dispatch
	url = git@github.com:YakupAtahanov/dispatch.git
[submodule "cachyos-calamares"]
	path = cachyos-calamares
	url = git@github.com:CachyOS/cachyos-calamares.git
[submodule "linux-jarvisos"]
	path = linux-jarvisos
	url = git@github.com:JarvisOSLinux/linux-jarvisos.git
